/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: #E1AD9D;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    border-bottom: 2px solid #ccc;
    font-size: 30px;
    line-height: 54px;
    color: rgb(51,0,40);
  }
  h1#logo {
    font-family: 'Rozha One', serif;
    font-size: 50px;
  }

  h2 {
    /*border-bottom: 2px solid #ccc;*/
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
    margin-top: 10px;
  }
  p#signed-in-as {
    font-style: italic;
   }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }


  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}


A {
  /*text-decoration:none;*/
  color: rgb(46,43,50);
}
a:hover {
    color: rgb(40,68,83);
}

 /*flash*/
 .alert-error {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
  }

 .alert-alert {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
  }

 .alert-success {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
  }

 .alert-notice {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
  }
  a.close {
    color:rgba(0, 0, 0, 0);
  }

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul>li {
    display: inline;
    font-family: 'Arvo', serif;
}

nav {
    margin-bottom: 5px;
}

a.button {
  width:200px;
  background-color:teal;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
